<main>
  <article>

    <!--
      - #HERO
    -->

    <section class="section hero" aria-label="home">
      <div class="container">

        <div class="hero-content">

          <p class="hero-subtitle">Olá, meu nome é Matheus</p>

          <h1 class="headline-lg">I'm a Developer</h1>

          <p class="hero-text body-md">
            Natural de Belo Horizonte, Minas Gerais.
          </p>

          <a href="#" class="btn btn-primary">Let's Start</a>

        </div>

        <figure class="hero-banner">
          <img src="assets/images/matheus-banner.png" width="720" height="695"
               alt="Banner Matheus" class="w-100">
        </figure>

      </div>
    </section>





    <!--
      - #CLIENT
    -->

    <section class="client" aria-label="Trusted client">
      <div class="container">

        <ul class="slider">

          <li class="slider-item">
            <img src="assets/images/icons8-amazon-web-services-96.png" width="130" height="40" alt="clients" class="w-100">
          </li>

          <li class="slider-item">
            <img src="assets/images/icons8-logotipo-da-primavera-96.png" width="130" height="40" alt="clients" class="w-100">
          </li>

          <li class="slider-item">
            <img src="assets/images/62a879ec3048e459144d038c.png" width="130" height="40" alt="clients" class="w-100">
          </li>

          <li class="slider-item">
            <img src="assets/images/mysql-removebg-preview.png" width="130" height="40" alt="clients" class="w-100">
          </li>

          <li class="slider-item">
            <img src="assets/images/icons8-logo-java-coffee-cup-96.png" width="180" height="255" alt="clients" class="w-100">
          </li>

        </ul>

      </div>
    </section>





    <!--
      - #ABOUT
    -->

    <section class="section about" aria-label="about me">
      <div class="container">

        <figure class="about-banner">
          <img src="assets/images/WhatsApp%20Image%202023-08-17%20at%2018.38.48.jpeg" width="580" height="554" loading="lazy"
               alt="Matheus FOTO" class="w-100">
        </figure>

        <div class="about-content">

          <h2 class="title-lg">Eu sou um desenvolvedor de software com 2 anos de experiência.</h2>

          <p class="body-md section-text">
         Sou desenvolvedor full stack com foco em Back-end. Tenho mais de 2 anos de experiência criandoAPI`s Rest Java com arquiteturas modernas em microserviços para grandes empresas, usando serviços da AWS.
          </p>

          <ul class="about-list">

            <li>
              <p class="list-text">
                <strong class="strong title-md">10.000+</strong> Linhas de cógido
              </p>
            </li>

            <li>
              <p class="list-text">
                <strong class="strong title-md">190+</strong> Problemas resolvidos
              </p>
            </li>

          </ul>

          <div class="wrapper">
            <a routerLink="/contact" class="btn btn-primary">Contato</a>

            <a routerLink="/portfolio" class="btn btn-secondary">Portfolio</a>
          </div>

        </div>

      </div>
    </section>





    <!--
      - #SKILL
    -->

    <section class="section skill" aria-labelledby="skill-label">
      <div class="container">

        <div class="skill-content">

          <h2 class="section-title headline-md" id="skill-label">My Skills</h2>

          <ul class="skill-list">

            <li>
              <div class="card card-sm" style="background-color: hsl(177, 39%, 72%)">

                <div class="card-media">
                  <ion-icon name="cafe-outline"></ion-icon>
                </div>

                <h2 class="card-title">JAVA</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(41, 99%, 64%)">

                <div class="card-media">
                  <ion-icon name="cloud-outline"></ion-icon>
                </div>

                <h2 class="card-title">AWS</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(19, 97%, 85%)">

                <div class="card-media">
                  <ion-icon name="logo-microsoft"></ion-icon>
                </div>

                <h2 class="card-title">Microsservicos</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(221, 100%, 79%)">

                <div class="card-media">
                  <ion-icon name="logo-angular"></ion-icon>
                </div>

                <h2 class="card-title">Angular</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(76, 39%, 72%)">

                <div class="card-media">
                  <ion-icon name="server-outline"></ion-icon>
                </div>

                <h2 class="card-title">MySql</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(245, 100%, 90%)">

                <div class="card-media">
                  <ion-icon name="logo-android"></ion-icon>
                </div>

                <h2 class="card-title">App Dev</h2>

              </div>
            </li>

          </ul>

        </div>

        <figure class="skill-banner">
          <img src="assets/images/WhatsApp%20Image%202023-08-17%20at%2018.39.32.jpeg" width="581" height="900" loading="lazy"
               alt="foto matheus" class="w-100">
        </figure>

      </div>
    </section>





    <!--
      - #CTA
    -->

    <section class="cta">
      <div class="container">
        <h2 class="title-lg">POSSO AJUDAR EM ALGO? </h2>

        <a routerLink="/contact" class="btn btn-tertiary">Contato</a>
      </div>
    </section>





    <!--
      - #TESTIMONIALS
    -->

    <section class="section testi" aria-labelledby="testi-label">
      <div class="container">

        <h2 class="headline-md section-title text-center" id="testi-label">MAIS SOBRE MIM</h2>

        <ul class="slider">

          <li class="slider-item card-container">
            <div class="card card-lg">

              <figure class="card-media">
                <img src="assets/images/Design%20sem%20nome%20(5).png" width="100" height="100" loading="lazy" alt="Jennifer Lutheran"
                     class="img-cover">
              </figure>

              <div class="card-content">

                <blockquote class="body-sm">
               Adoro trabalhar com java e aws.
                </blockquote>

              </div>

            </div>
          </li>

          <li class="slider-item card-container">
            <div class="card card-lg">

              <figure class="card-media">
                <img src="assets/images/Design%20sem%20nome%20(7).png" width="100" height="100" loading="lazy" alt="Jennifer Lutheran"
                     class="img-cover">
              </figure>

              <div class="card-content">

                <blockquote class="body-sm">
                 Falou que é pra fazer um projetinho full stack, eu amoo.
                </blockquote>

              </div>

            </div>
          </li>

          <li class="slider-item card-container">
            <div class="card card-lg">

              <figure class="card-media">
                <img src="assets/images/Design%20sem%20nome%20(6).png" width="100" height="100" loading="lazy" alt="Jennifer Lutheran"
                     class="img-cover">
              </figure>

              <div class="card-content">

                <blockquote class="body-sm">
                Trabalhar presencial não é um problema.
                </blockquote>

              </div>

            </div>
          </li>

          <li class="slider-item card-container">
            <div class="card card-lg">

              <figure class="card-media">
                <img src="assets/images/Design%20sem%20nome%20(8).png" width="100" height="100" loading="lazy" alt="Jennifer Lutheran"
                     class="img-cover">
              </figure>

              <div class="card-content">

                <blockquote class="body-sm">
                Sou bastante comunicativo, adoro conversar e conhecer pessoas novas
                </blockquote>


              </div>

            </div>
          </li>

        </ul>

      </div>
    </section>

  </article>
</main>
